{include file="Public/header,Public/sidebar" title="$title"/}

<!-- 内容主体区域 -->
<div style="padding: 15px;">
    <div class="layui-row layui-col-space30">
        <div class="layui-col-md5">
            <fieldset class="layui-elem-field layui-field-title">
                <legend><i class="layui-icon" style="font-size: 20px; color: #1E9FFF;margin-right: 7px">&#xe62c;</i>实例</legend>
            </fieldset>
            <blockquote class="layui-elem-quote">
            <div class="layui-row" style="text-align: center;font-size: 15px">
                <div class="layui-col-md3">
                    <div class="grid-demo grid-demo-bg1">总数量</div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo">运行中</div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo grid-demo-bg1">异常</div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo">已移除</div>
                </div>
            </div>
            <div class="layui-row" style="text-align: center;font-size: 13px;margin-top: 10px">
                <div class="layui-col-md3">
                    <div class="grid-demo"><span class="layui-badge layui-bg-cyan" id="service-count"></span></div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo"><span class="layui-badge layui-bg-green" id="service-run"></span></div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo"><span class="layui-badge" id="service-error"></span></div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo"><span class="layui-badge layui-bg-black" id="service-del"></span></div>
                </div>
            </div>
            </blockquote>
        </div>
        <div class="layui-col-md5">
            <fieldset class="layui-elem-field layui-field-title">
                <legend><i class="layui-icon" style="font-size: 20px; color: #1E9FFF;margin-right: 7px">&#xe629;</i>其他</legend>
            </fieldset>
            <blockquote class="layui-elem-quote">
            <div class="layui-row" style="text-align: center;font-size: 15px">
                <div class="layui-col-md3">
                    <div class="grid-demo">服务名称</div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo">所属分类</div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo grid-demo-bg1">消费者数</div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo">处理总计</div>
                </div>
            </div>

            <div class="layui-row" style="text-align: center;font-size: 13px;margin-top: 10px">
                <div class="layui-col-md3">
                    <div class="grid-demo"><span class="layui-badge layui-bg-gray" id="service-name">{$Request.param.name}</span></div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo"><span class="layui-badge layui-bg-gray" id="service-category"></span></div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo grid-demo-bg1"><span class="layui-badge layui-bg-cyan" id="service-consumer"></span></div>
                </div>
                <div class="layui-col-md3">
                    <div class="grid-demo"><span class="layui-badge layui-bg-cyan">99</span></div>
                </div>
            </div>
            </blockquote>
        </div>
    </div>

    <!--服务治理开始-->
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend><i class="layui-icon" style="font-size: 20px; color: #1E9FFF;margin-right: 7px">&#xe628;</i>服务治理</legend>
    </fieldset>
    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">实例列表</li>
            <li>消费者列表</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <blockquote class="layui-elem-quote layui-quote-nm">
                    注：操作服务上线时请确保服务已正常启动！
                </blockquote>
                <table id="service-list" lay-filter="service"></table>
            </div>
            <div class="layui-tab-item">
                2222
            </div>
        </div>
    </div>
    <!--服务治理结束-->

    <!--服务信息开始-->
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend><i class="layui-icon" style="font-size: 20px; color: #1E9FFF;margin-right: 7px">&#xe63c;</i>备注信息</legend>
    </fieldset>
    <div class="layui-tab layui-tab-card">
        <div class="layui-tab-content" style="height: 150px;">
            <textarea placeholder="备注信息！@#！￥%……&&*" class="layui-textarea" lay-filter="remark"></textarea>
            <button class="layui-btn" lay-submit="" lay-filter="demo2" style="margin-top: 10px">保存备注</button>
        </div>
    </div>
    <!--服务信息结束-->
</div>
<script src="/static/layui.js"></script>
<script src="/static/js/info.js"></script>
<script type="text/html" id="titleTpl">
    <a href="/service/info?name={{d.name}}" class="layui-table-link">
        <i class="layui-icon" style="margin-right: 10px;font-size: 14px;color:#009688">&#xe617;</i>{{d.name}}
    </a>
</script>
<script type="text/html" id="barDemo">
    <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="上线|下线" lay-filter="setStatus" {{ d.status == 0 ? 'checked' : '' }}>
</script>
{include file="Public/footer"/}